#Introduction
Business intelligence is very important nowadays. It helps you to know better of your company including how the sales recently, which item is going to out of stock and most importantly, what is the profit.

In this project, I am going to demonstrate how to use data from a pizza shop along with SQL to create 3 dashboards for business intelligence.

##Data structure
There are 10 tables in the dataset.

Table name | Content | Columns
--- | --- | ---
Address | Customers' address and zip code | 'add_id', 'delivery_address1', 'delivery_address2', 'delivery_city', 'delivery_zipcode'
Customers | First and last name | 'cust_id', 'cust_firstname', 'cust_lastname'
Ingredient | Ingredient name, weight, unit and price | 'ing_id', 'ing_name', 'ing_weight', 'ing_meas', 'ing_price'
Inventory | Quantity of inventory | 'inv_id', 'item_id', 'quantity'
Item | Item name, code, category, size and price | 'item_id', 'sku', 'item_name', 'item_cat', 'item_size', 'item_price'
Orders | Order create time, item ordered, quantity, customer ID, delivery/pick up, address ID | 'row_id', 'order_id', 'created_at', 'item_id', 'quantity', 'cust_id', 'delivery', 'add_id'
Recipe | Recipe ID, ingredient ID, required quantity | 'row_id', 'recipe_id', 'ing_id', 'quantity'
Rota | Duty date, shift ID, staff ID | 'row_id', 'rota_id', 'date', 'shift_id', 'staff_id'
Shift | Day of week, start time and end time | 'shift_id', 'day_of_week', 'start_time', 'end_time'
Staff | Staff first and last name, position, hourly rate | 'staff_id', 'first_name', 'last_name', 'position', 'hourly_rate'

##Dashboard 1
This dashboard contains the basic information about the pizza shop. It tells whether the pizza shop is earning of losing money.
1.   Total number of order
2.   Total sales
3.   Total item sold
4.   Average order value
5.   Sales by category
6.   Top selling item
7.   Orders by hour
8.   Sales by hour
9.   Orders by address
10.  Orders by delivery/pick up

##Dashboard 2
The second dashboard is about the material cost and stock information to keep the pizza shop running.
1.   Total quantity required for orders by ingredient
2.   Total cost of ingredients for orders
3.   Calculated cost of pizza
4.   Percentage stock remaining by ingredient
5.   List of ingredients to re-order based on remaining inventory

##Dashboard 3
The last dashboard is going to capture the human resource cost of the pizza shop.
1.   Total staff cost
2.   Total hours worked
3.   Hours worked by staff member
4.   Cost per staff member

##Import data

In [1]:
# connect google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [70]:
# import library
import sqlite3
import pandas as pd
import numpy as np

In [3]:
# define functions

def pd_to_sqlDB(input_df: pd.DataFrame, table_name: str, db_name: str = 'default.db') -> None:

    '''Take a Pandas dataframe `input_df` and upload it to `table_name` SQLITE table
    Args:
        input_df (pd.DataFrame): Dataframe containing data to upload to SQLITE
        table_name (str): Name of the SQLITE table to upload to
        db_name (str, optional): Name of the SQLITE Database in which the table is created. 
                                 Defaults to 'default.db'.
    '''

    # Step 1: Find columns in the dataframe
    cols = input_df.columns
    cols_string = ','.join(cols)
    val_wildcard_string = ','.join(['?'] * len(cols))

    # Step 2: Connect to a DB file if it exists, else crete a new file
    con = sqlite3.connect(db_name)
    cur = con.cursor()

    # Step 3: Create Table
    sql_string = f"""CREATE TABLE IF NOT EXISTS {table_name} ({cols_string});"""
    cur.execute(sql_string)

    # Step 4: Upload the dataframe
    rows_to_upload = input_df.to_dict(orient='split')['data']
    sql_string = f"""INSERT INTO {table_name} ({cols_string}) VALUES ({val_wildcard_string});"""    
    cur.executemany(sql_string, rows_to_upload)
  
    # Step 5: Commit the changes and close the connection
    con.commit()
    con.close()



def sql_query_to_pd(sql_query_string: str, db_name: str ='default.db') -> pd.DataFrame:
    '''Execute an SQL query and return the results as a pandas dataframe
    Args:
        sql_query_string (str): SQL query string to execute
        db_name (str, optional): Name of the SQLITE Database to execute the query in.
                                 Defaults to 'default.db'.
    Returns:
        pd.DataFrame: Results of the SQL query in a pandas dataframe
    '''    
    # Step 1: Connect to the SQL DB
    con = sqlite3.connect(db_name)

    # Step 2: Execute the SQL query
    cursor = con.execute(sql_query_string)

    # Step 3: Fetch the data and column names
    result_data = cursor.fetchall()
    cols = [description[0] for description in cursor.description]

    # Step 4: Close the connection
    con.close()

    # Step 5: Return as a dataframe
    return pd.DataFrame(result_data, columns=cols)

In [4]:
# import data
address=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/address.csv')
customers=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/customers.csv')
ingredient=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/ingredient.csv')
inventory=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/inventory.csv')
item=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/item.csv')
orders=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/orders.csv')
recipe=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/recipe.csv')
rota=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/rota.csv')
shift=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/shift.csv')
staff=pd.read_csv('/content/gdrive/My Drive/dataset/SQL/pizza_proj/staff.csv')

In [5]:
# import data to sql tables
pd_to_sqlDB(address,"address","pizza_db")
pd_to_sqlDB(customers,"customers","pizza_db")
pd_to_sqlDB(ingredient,"ingredient","pizza_db")
pd_to_sqlDB(inventory,"inventory","pizza_db")
pd_to_sqlDB(item,"item","pizza_db")
pd_to_sqlDB(orders,"orders","pizza_db")
pd_to_sqlDB(recipe,"recipe","pizza_db")
pd_to_sqlDB(rota,"rota","pizza_db")
pd_to_sqlDB(shift,"shift","pizza_db")
pd_to_sqlDB(staff,"staff","pizza_db")

#Query for 1st dashboard

In [6]:
# Query table for the 1st dashboard
query="""
SELECT
  o.order_id,
  o.quantity*i.item_price AS order_sales,
  o.quantity,
  i.item_cat,
  i.item_name,
  o.created_at,
  a.delivery_address1,
  -- a.delivery_address2, --no data in address 2
  a.delivery_city,
  a.delivery_zipcode,
  o.delivery
FROM orders o
LEFT JOIN item i ON o.item_id=i.item_id
LEFT JOIN address a ON o.add_id=a.add_id
"""
result1=sql_query_to_pd(query,"pizza_db")

In [7]:
# Convert to appropriate data type
result1['created_at']=pd.to_datetime(result1['created_at'],format="%d/%m/%Y %H:%M")
result1['delivery_zipcode']=result1['delivery_zipcode'].astype('str')

In [8]:
# Table for 1st dashboard 
result1

,order_id,order_sales,quantity,item_cat,item_name,created_at,delivery_address1,delivery_city,delivery_zipcode,delivery
0,109,24,2,Pizza,Pizza Margherita Reg,2022-08-10 13:22:00,607 Trails End Road,Manchester,6042,1
1,110,16,1,Pizza,Pizza Diavola (hot) Reg,2022-08-10 13:53:00,25 Cliffside Drive,Manchester,6042,1
2,111,12,1,Pizza,Pizza Margherita Reg,2022-08-10 13:32:00,56 Concord Road,Manchester,6042,1
3,111,16,1,Pizza,Pizza Diavola (hot) Reg,2022-08-10 13:32:00,56 Concord Road,Manchester,6042,1
4,112,57,3,Pizza,Pizza Quattro Formaggi Large,2022-08-10 19:19:00,82 Lookout Mountain Drive,Manchester,6040,0
...,...,...,...,...,...,...,...,...,...,...
309,165,6,1,Drink,Coca Cola Diet 1.5l,2022-08-10 19:19:00,35 Lakewood Circle South,Manchester,6040,0
310,166,16,1,Pizza,Pizza Quattro Formaggi Reg,2022-08-10 14:22:00,91 Eldridge Street,Manchester,6040,1
311,166,5,1,Side,Breadsticks,2022-08-10 14:22:00,91 Eldridge Street,Manchester,6040,1
312,166,5,1,Dessert,Chocolate Brownie,2022-08-10 14:22:00,91 Eldridge Street,Manchester,6040,1
313,166,6,1,Drink,Coca Cola Regular 1.5l,2022-08-10 14:22:00,91 Eldridge Street,Manchester,6040,1

##Total orders

In [9]:
ttl_no_order=len(result1['order_id'].unique())
print(f'The total number of order is {ttl_no_order}')

The total number of order is 58

##Total sales

In [10]:
ttl_sales=sum(result1['order_sales'])
print(f'The total sales is ${ttl_sales}')

The total sales is $5967

##Total item sold

In [11]:
ttl_item_sold=sum(result1['quantity'])
print(f'The total item sold is {ttl_item_sold}')

The total item sold is 626

##Average order value

In [12]:
avg_order_val=result1.groupby(['order_id'])['order_sales'].sum().mean()
print(f'The average order value is ${avg_order_val:.2f}')

The average order value is $102.88

##Sales by category

In [13]:
sales_by_cat=result1.groupby(['item_cat'])['order_sales'].sum().to_frame().sort_values('order_sales',ascending=False)
print(f'The average order value is \n',sales_by_cat)

The average order value is
           order_sales
item_cat
Pizza            3816
Dessert           915
Side              801
Drink             435

##Top selling item

In [14]:
top_item=result1.groupby(['item_name'])['order_sales'].sum().idxmax()
print(f'The top selling item is {top_item}')

The top selling item is Pizza Quattro Formaggi Large

##Order by hour

In [15]:
order_by_hour=result1.groupby(result1['created_at'].dt.hour)['order_id'].count().to_frame('count').rename_axis('hour')
print(f'The order by hour is\n',order_by_hour)

The order by hour is
       count
hour
12       30
13       96
14       11
18       15
19       67
20       37
21       28
22       30

##Sales by hour

In [16]:
sales_by_hour=result1.groupby(result1['created_at'].dt.hour)['order_sales'].sum().to_frame('sales').rename_axis('hour')
print(f'The sales by hour is\n',sales_by_hour)

The sales by hour is
       sales
hour
12      487
13     1399
14       91
18      419
19     1552
20      567
21      470
22      982

##Order by address

In [17]:
order_by_address=result1['delivery_address1'].value_counts().to_frame('count').rename_axis('address')
print(f'The order by address is\n',order_by_address)

The order by address is
                             count
address
150 Carter Street              17
68 Princeton Street            12
18 Cambridge Street            12
125 Summer Street              11
425 Middle Turnpike East        9
95 Briarwood Drive              9
60 Desousa Drive                9
61 Plymouth Lane                9
697 Parker Street               9
29 Lucian Street                8
89 High Ledge Circle            7
44 Downey Drive                 7
123 Elizabeth Drive             7
211 Oak Street                  7
145 Saint John Street           7
86 Highland Street              6
22 Star Farms Drive             6
61 Hills Street                 6
225 Kennedy Road                6
184 Woodland Street             6
126 Garth Road                  6
65 Arcellia Drive               6
34 Holyoke Road                 5
4 Orchard Street                5
25 Edwards Street               5
117 Adelaide Road               5
310 Timrod Road                 5
159 Adams Street                5
265 Slater Street               5
21 Carver Lane                  5
82 Lookout Mountain Drive       5
35 Lakewood Circle South        5
44 Campfield Road               4
173 Center Street               4
119 Redwood Road                4
91 Eldridge Street              4
126 Marjorie Lane               4
13 Riverview Avenue             4
66 Pine Street                  4
31 Buckland Hills Drive         4
194 Buckland Hills Drive        4
236 Middle Turnpike East        4
175 Oak Street                  4
736 Middle Turnpike East        4
16 Ambassador Drive             4
207 Spruce Street               4
46 Lilac Street                 3
138 Bolton Street               3
31 Ashworth Street              3
208 Timrod Road                 3
981 Groton Long Point Road      3
44 Colonial Road                3
219 Bidwell Street              2
56 Concord Road                 2
115 Waddell Road                1
25 Cliffside Drive              1
38 Bruce Road                   1
607 Trails End Road             1

##order by delivery/pick up

In [18]:
order_by_delivery=result1['delivery'].value_counts().to_frame('count').rename_axis('delivery(1)/pick up(0)')
print(f'The order by delivery/pick up is\n',order_by_delivery)

The order by delivery/pick up is
                         count
delivery(1)/pick up(0)
1                         239
0                          75

#Query for 2nd dashboard

In [19]:
# Query table for the 2nd dashboard
query="""
SELECT
  sub1.item_name,
  sub1.ing_id,
  sub1.ing_name,
  sub1.ing_weight,
  sub1.ing_price,
  sub1.order_quan,
  sub1.rep_quan,
  sub1.order_quan*sub1.rep_quan AS quantity_required,
  sub1.ing_price/sub1.ing_weight AS unit_cost,
  (sub1.order_quan*sub1.rep_quan)*(sub1.ing_price/sub1.ing_weight) AS ingredient_cost
FROM
    (SELECT
      o.item_id,
      rep.recipe_id,
      i.item_name,
      rep.ing_id,
      ing.ing_name,
      SUM(o.quantity)  AS order_quan,
      rep.quantity AS rep_quan,
      ing.ing_price,
      ing.ing_weight
    FROM orders o
    LEFT JOIN item i ON o.item_id=i.item_id
    LEFT JOIN recipe rep ON i.sku=rep.recipe_id
    LEFT JOIN ingredient ing ON rep.ing_id=ing.ing_id
    GROUP BY
      o.item_id, 
      rep.recipe_id, 
      i.item_name,
      rep.ing_id,
      rep.quantity,
      ing.ing_name,
      ing.ing_weight,
      ing.ing_price) sub1;
"""
result2=sql_query_to_pd(query,"pizza_db")
result2['item_cost']=result2['rep_quan']*result2['unit_cost']
result2

,item_name,ing_id,ing_name,ing_weight,ing_price,order_quan,rep_quan,quantity_required,unit_cost,ingredient_cost,item_cost
0,Pizza Margherita Reg,ING001,Pizza dough ball (8 pack),2000,4.22,18,250,4500,0.002110,9.4950,0.527500
1,Pizza Margherita Reg,ING002,Tomato sauce,4500,3.89,18,80,1440,0.000864,1.2448,0.069156
2,Pizza Margherita Reg,ING003,Mozzarella cheese,2500,14.45,18,170,3060,0.005780,17.6868,0.982600
3,Pizza Margherita Reg,ING004,Dried oregano,500,5.99,18,5,90,0.011980,1.0782,0.059900
4,Pizza Margherita Large,ING001,Pizza dough ball (8 pack),2000,4.22,7,300,2100,0.002110,4.4310,0.633000
...,...,...,...,...,...,...,...,...,...,...,...
104,Fanta Diet 1.5l,ING043,Fanta Diet 1.5l,1,0.96,2,1,2,0.960000,1.9200,0.960000
105,San Pelligrino 33cl,ING044,San Pelligrino 33cl,1,0.36,4,1,4,0.360000,1.4400,0.360000
106,San Pelligrino 1.5l,ING045,San Pelligrino 1.5l,1,0.86,9,1,9,0.860000,7.7400,0.860000
107,Perrier 33cl,ING046,Perrier 33cl,1,0.36,3,1,3,0.360000,1.0800,0.360000
108,Perrier 1.5l,ING047,Perrier 1.5l,1,0.86,10,1,10,0.860000,8.6000,0.860000

##Total quantity required for orders by ingredient

In [20]:
quantity_by_ingredient=result2.groupby('ing_name')['quantity_required'].sum().to_frame()
print(f'The total quantity required for orders by ingredient is\n',quantity_by_ingredient)

The total quantity required for orders by ingredient is
                            quantity_required
ing_name
Anchovies                               1850
Banoffee pie                            4200
Caesar dressing                          740
Calamari                                1250
Capers                                   133
Chicken wings                           3600
Chilli pepper                            705
Chocolate brownie                       3225
Chocolate ice cream                     3700
Coca Cola Diet 1.5l                        1
Coca Cola Diet 33cl                        8
Coca Cola Regular 1.5l                    10
Coca Cola Regular 33cl                    14
Croutons                                1850
Dried oregano                            146
Eggplant                                2580
Fanta Diet 1.5l                            2
Fanta Regular 1.5l                         6
Fanta Regular 33cl                        29
Fruit salad                             2850
Garlic and parsley butter                255
Gorgonzola cheese                      10320
Ham                                     1030
Mozzarella cheese                      42300
Parmesan cheese                        13850
Pepperoni                               6320
Perrier 1.5l                              10
Perrier 33cl                               3
Pineapple                                820
Pistachio ice cream                      600
Pizza dough ball (8 pack)              78650
Ricotta cheese                         10320
Romain lettuce                          3700
Rotisserie chicken pieces               4440
San Pelligrino 1.5l                        9
San Pelligrino 33cl                        4
Shrimp                                  1250
Spicy salami                            3390
Sprite Diet 33cl                           1
Sprite Regular 1.5l                       11
Sprite Regular 33cl                        3
Strawberry ice cream                     900
Tomato sauce                           20600
Tuna                                    1250
Vanilla ice cream                        800

##Total cost of ingredients for orders

In [21]:
cost_by_ingredient=result2.groupby('ing_name')['ingredient_cost'].sum().to_frame()
print(f'The total cost of ingredients for orders is\n',cost_by_ingredient)

The total cost of ingredients for orders is
                            ingredient_cost
ing_name
Anchovies                        20.331500
Banoffee pie                      4.025000
Caesar dressing                   3.501368
Calamari                         14.385000
Capers                            0.553280
Chicken wings                    41.898000
Chilli pepper                     4.575450
Chocolate brownie                 5.740500
Chocolate ice cream              12.703333
Coca Cola Diet 1.5l               0.960000
Coca Cola Diet 33cl               3.280000
Coca Cola Regular 1.5l            9.600000
Coca Cola Regular 33cl            5.740000
Croutons                          7.770000
Dried oregano                     1.749080
Eggplant                          4.902000
Fanta Diet 1.5l                   1.920000
Fanta Regular 1.5l                5.760000
Fanta Regular 33cl               11.890000
Fruit salad                       4.058400
Garlic and parsley butter         4.428500
Gorgonzola cheese                81.498514
Ham                               6.684700
Mozzarella cheese               244.494000
Parmesan cheese                 103.875000
Pepperoni                        61.127040
Perrier 1.5l                      8.600000
Perrier 33cl                      1.080000
Pineapple                         1.021720
Pistachio ice cream               2.060000
Pizza dough ball (8 pack)       165.951500
Ricotta cheese                   27.451200
Romain lettuce                    6.768533
Rotisserie chicken pieces        30.591600
San Pelligrino 1.5l               7.740000
San Pelligrino 33cl               1.440000
Shrimp                           11.225000
Spicy salami                     36.457029
Sprite Diet 33cl                  0.410000
Sprite Regular 1.5l              10.560000
Sprite Regular 33cl               1.230000
Strawberry ice cream              3.090000
Tomato sauce                     17.807556
Tuna                              4.787500
Vanilla ice cream                 2.746667

##Calculated cost of pizza

In [22]:
cost_of_pizza=result2.groupby('item_name')[['item_cost']].sum()
filt=(cost_of_pizza.index.str.contains("Pizza"))
print(f'The cost_of_pizza is\n',cost_of_pizza[filt])

The cost_of_pizza is
                               item_cost
item_name
Pizza Diavola (hot) Large      2.725594
Pizza Diavola (hot) Reg        2.181870
Pizza Hawaiian Large           2.998464
Pizza Hawaiian Reg             2.547556
Pizza Margherita Large         1.971284
Pizza Margherita Reg           1.639156
Pizza Napolitana Large         2.454064
Pizza Napolitana Reg           2.699056
Pizza Parmigiana Large         3.660444
Pizza Parmigiana Reg           3.082256
Pizza Pepperoni Large          4.196724
Pizza Pepperoni Reg            3.513656
Pizza Quattro Formaggi Large   5.125730
Pizza Quattro Formaggi Reg     4.287827
Pizza Seafood Large            6.131094
Pizza Seafood Reg              5.226956

In [23]:
# use previous query for following questions
pd_to_sqlDB(result2,"result2","pizza_db")

# query to answer remaining question in dashboard2
query="""
SELECT
  sub2.ing_name,
  sub2.ordered_weight,
  ing.ing_weight*inv.quantity AS total_inv_weight
FROM
  (SELECT
    ing_id,
    ing_name,
    SUM(quantity_required)/10 AS ordered_weight
  FROM result2
  GROUP BY 
  ing_name, ing_id) sub2
LEFT JOIN inventory inv ON inv.item_id=sub2.ing_id
LEFT JOIN ingredient ing ON ing.ing_id = sub2.ing_id;
"""
result3=sql_query_to_pd(query,"pizza_db")
result3

                     ing_name  ordered_weight  total_inv_weight
0                   Anchovies             185              2000
1                Banoffee pie             420              2400
2             Caesar dressing              74             19000
3                    Calamari             125              7500
4                      Capers              13              2000
5               Chicken wings             360             24000
6               Chilli pepper              70              4000
7           Chocolate brownie             322              5000
8         Chocolate ice cream             370              9000
9         Coca Cola Diet 1.5l               0               120
10        Coca Cola Diet 33cl               0               120
11     Coca Cola Regular 1.5l               1               120
12     Coca Cola Regular 33cl               1               120
13                   Croutons             185              6250
14              Dried oregano              14              2000
15                   Eggplant             258             20000
16            Fanta Diet 1.5l               0               120
17         Fanta Regular 1.5l               0               120
18         Fanta Regular 33cl               2               120
19                Fruit salad             285             10000
20  Garlic and parsley butter              25              9000
21          Gorgonzola cheese            1032             35000
22                        Ham             103             20000
23          Mozzarella cheese            4230            100000
24            Parmesan cheese            1385             25000
25                  Pepperoni             632             25000
26               Perrier 1.5l               1               120
27               Perrier 33cl               0               120
28                  Pineapple              82             20000
29        Pistachio ice cream              60              9000
30  Pizza dough ball (8 pack)            7865            100000
31             Ricotta cheese            1032             15000
32             Romain lettuce             370             37500
33  Rotisserie chicken pieces             444             25000
34        San Pelligrino 1.5l               0               120
35        San Pelligrino 33cl               0               120
36                     Shrimp             125             10000
37               Spicy salami             339              7000
38           Sprite Diet 33cl               0               120
39        Sprite Regular 1.5l               1               120
40        Sprite Regular 33cl               0               120
41       Strawberry ice cream              90              9000
42              Tomato sauce             2060            112500
43                       Tuna             125              6000
44          Vanilla ice cream              80              9000

##Percentage stock remaining by ingredient

In [24]:
result3['perc_remain']=(result3['total_inv_weight']-result3['ordered_weight'])/result3['total_inv_weight']*100
print(f'The percentage remaining is\n',result3[['ing_name','perc_remain']])

The percentage remaining is
                      ing_name  perc_remain
0                   Anchovies    90.750000
1                Banoffee pie    82.500000
2             Caesar dressing    99.610526
3                    Calamari    98.333333
4                      Capers    99.350000
5               Chicken wings    98.500000
6               Chilli pepper    98.250000
7           Chocolate brownie    93.560000
8         Chocolate ice cream    95.888889
9         Coca Cola Diet 1.5l   100.000000
10        Coca Cola Diet 33cl   100.000000
11     Coca Cola Regular 1.5l    99.166667
12     Coca Cola Regular 33cl    99.166667
13                   Croutons    97.040000
14              Dried oregano    99.300000
15                   Eggplant    98.710000
16            Fanta Diet 1.5l   100.000000
17         Fanta Regular 1.5l   100.000000
18         Fanta Regular 33cl    98.333333
19                Fruit salad    97.150000
20  Garlic and parsley butter    99.722222
21          Gorgonzola cheese    97.051429
22                        Ham    99.485000
23          Mozzarella cheese    95.770000
24            Parmesan cheese    94.460000
25                  Pepperoni    97.472000
26               Perrier 1.5l    99.166667
27               Perrier 33cl   100.000000
28                  Pineapple    99.590000
29        Pistachio ice cream    99.333333
30  Pizza dough ball (8 pack)    92.135000
31             Ricotta cheese    93.120000
32             Romain lettuce    99.013333
33  Rotisserie chicken pieces    98.224000
34        San Pelligrino 1.5l   100.000000
35        San Pelligrino 33cl   100.000000
36                     Shrimp    98.750000
37               Spicy salami    95.157143
38           Sprite Diet 33cl   100.000000
39        Sprite Regular 1.5l    99.166667
40        Sprite Regular 33cl   100.000000
41       Strawberry ice cream    99.000000
42              Tomato sauce     98.168889
43                       Tuna    97.916667
44          Vanilla ice cream    99.111111

##List of ingredients to re-order based on remaining inventory

In [25]:
print(f'The ingredients need to re-order is\n',result3[['ing_name','perc_remain']].sort_values("perc_remain"))

The ingredients need to re-order is
                      ing_name  perc_remain
1                Banoffee pie    82.500000
0                   Anchovies    90.750000
30  Pizza dough ball (8 pack)    92.135000
31             Ricotta cheese    93.120000
7           Chocolate brownie    93.560000
24            Parmesan cheese    94.460000
37               Spicy salami    95.157143
23          Mozzarella cheese    95.770000
8         Chocolate ice cream    95.888889
13                   Croutons    97.040000
21          Gorgonzola cheese    97.051429
19                Fruit salad    97.150000
25                  Pepperoni    97.472000
43                       Tuna    97.916667
42              Tomato sauce     98.168889
33  Rotisserie chicken pieces    98.224000
6               Chilli pepper    98.250000
3                    Calamari    98.333333
18         Fanta Regular 33cl    98.333333
5               Chicken wings    98.500000
15                   Eggplant    98.710000
36                     Shrimp    98.750000
41       Strawberry ice cream    99.000000
32             Romain lettuce    99.013333
44          Vanilla ice cream    99.111111
26               Perrier 1.5l    99.166667
12     Coca Cola Regular 33cl    99.166667
11     Coca Cola Regular 1.5l    99.166667
39        Sprite Regular 1.5l    99.166667
14              Dried oregano    99.300000
29        Pistachio ice cream    99.333333
4                      Capers    99.350000
22                        Ham    99.485000
28                  Pineapple    99.590000
2             Caesar dressing    99.610526
20  Garlic and parsley butter    99.722222
40        Sprite Regular 33cl   100.000000
38           Sprite Diet 33cl   100.000000
17         Fanta Regular 1.5l   100.000000
10        Coca Cola Diet 33cl   100.000000
35        San Pelligrino 33cl   100.000000
16            Fanta Diet 1.5l   100.000000
27               Perrier 33cl   100.000000
9         Coca Cola Diet 1.5l   100.000000
34        San Pelligrino 1.5l   100.000000

#Query for 3rd dashboard

In [71]:
# Query table for the 3rd dashboard
query="""
SELECT
  st.first_name,
  st.last_name,
  st.hourly_rate,
  sh.day_of_week,
  sh.start_time,
  sh.end_time
FROM staff st
LEFT JOIN rota ro ON ro.staff_id=st.staff_id
LEFT JOIN shift sh ON sh.shift_id=ro.shift_id
"""
result4=sql_query_to_pd(query,"pizza_db")
result4['start_time']=pd.to_timedelta(result4['start_time'].str.strip())
result4['end_time']=pd.to_timedelta(result4['end_time'].str.strip())
result4['hour_worked']=(result4['end_time']-result4['start_time'])/np.timedelta64(1, 'h')
result4

,first_name,last_name,hourly_rate,day_of_week,start_time,end_time,hour_worked
0,Mindy,Sloan,17.25,Wednesday,0 days 10:30:00,0 days 14:30:00,4.0
1,Mindy,Sloan,17.25,Wednesday,0 days 18:30:00,0 days 23:00:00,4.5
2,Mindy,Sloan,17.25,Thursday,0 days 10:30:00,0 days 14:30:00,4.0
3,Mindy,Sloan,17.25,Thursday,0 days 18:30:00,0 days 23:00:00,4.5
4,Mindy,Sloan,17.25,Friday,0 days 10:30:00,0 days 14:30:00,4.0
5,Mindy,Sloan,17.25,Friday,0 days 18:30:00,0 days 23:00:00,4.5
6,Luqman,Cantu,21.50,Wednesday,0 days 10:30:00,0 days 14:30:00,4.0
7,Luqman,Cantu,21.50,Wednesday,0 days 18:30:00,0 days 23:00:00,4.5
8,Luqman,Cantu,21.50,Thursday,0 days 10:30:00,0 days 14:30:00,4.0
9,Luqman,Cantu,21.50,Thursday,0 days 18:30:00,0 days 23:00:00,4.5
10,Luqman,Cantu,21.50,Friday,0 days 10:30:00,0 days 14:30:00,4.0
11,Luqman,Cantu,21.50,Friday,0 days 18:30:00,0 days 23:00:00,4.5
12,Seren,Lindsey,17.25,Saturday,0 days 10:30:00,0 days 14:30:00,4.0
13,Seren,Lindsey,17.25,Saturday,0 days 18:30:00,0 days 23:00:00,4.5
14,Seren,Lindsey,17.25,Sunday,0 days 10:30:00,0 days 14:30:00,4.0
15,Seren,Lindsey,17.25,Sunday,0 days 18:30:00,0 days 23:00:00,4.5
16,Arran,Hodgson,21.50,Saturday,0 days 10:30:00,0 days 14:30:00,4.0
17,Arran,Hodgson,21.50,Saturday,0 days 18:30:00,0 days 23:00:00,4.5
18,Arran,Hodgson,21.50,Sunday,0 days 10:30:00,0 days 14:30:00,4.0
19,Arran,Hodgson,21.50,Sunday,0 days 18:30:00,0 days 23:00:00,4.5
20,Talha,Portillo,17.25,None,NaT,NaT,NaN
21,Sana,Black,21.50,None,NaT,NaT,NaN
22,Zachery,Robins,17.25,None,NaT,NaT,NaN
23,Faraz,Peck,21.50,None,NaT,NaT,NaN
24,Lilly-Rose,Vaughn,14.50,Wednesday,0 days 10:30:00,0 days 14:30:00,4.0
25,Lilly-Rose,Vaughn,14.50,Wednesday,0 days 18:30:00,0 days 23:00:00,4.5
26,Lilly-Rose,Vaughn,14.50,Thursday,0 days 10:30:00,0 days 14:30:00,4.0
27,Lilly-Rose,Vaughn,14.50,Thursday,0 days 18:30:00,0 days 23:00:00,4.5
28,Lilly-Rose,Vaughn,14.50,Friday,0 days 10:30:00,0 days 14:30:00,4.0
29,Lilly-Rose,Vaughn,14.50,Friday,0 days 18:30:00,0 days 23:00:00,4.5
30,Desiree,Gardner,14.50,Wednesday,0 days 10:30:00,0 days 14:30:00,4.0
31,Desiree,Gardner,14.50,Wednesday,0 days 18:30:00,0 days 23:00:00,4.5
32,Desiree,Gardner,14.50,Thursday,0 days 10:30:00,0 days 14:30:00,4.0
33,Desiree,Gardner,14.50,Thursday,0 days 18:30:00,0 days 23:00:00,4.5
34,Desiree,Gardner,14.50,Friday,0 days 10:30:00,0 days 14:30:00,4.0
35,Desiree,Gardner,14.50,Friday,0 days 18:30:00,0 days 23:00:00,4.5
36,Ivan,English,14.50,Saturday,0 days 10:30:00,0 days 14:30:00,4.0
37,Ivan,English,14.50,Saturday,0 days 18:30:00,0 days 23:00:00,4.5
38,Ivan,English,14.50,Sunday,0 days 10:30:00,0 days 14:30:00,4.0
39,Ivan,English,14.50,Sunday,0 days 18:30:00,0 days 23:00:00,4.5
40,Johnathon,Bradford,14.50,Saturday,0 days 10:30:00,0 days 14:30:00,4.0
41,Johnathon,Bradford,14.50,Saturday,0 days 18:30:00,0 days 23:00:00,4.5
42,Johnathon,Bradford,14.50,Sunday,0 days 10:30:00,0 days 14:30:00,4.0
43,Johnathon,Bradford,14.50,Sunday,0 days 18:30:00,0 days 23:00:00,4.5
44,Matilda,Mccarty,14.50,None,NaT,NaT,NaN
45,Areeb,Vasquez,14.50,None,NaT,NaT,NaN
46,Amiyah,Lambert,14.50,None,NaT,NaT,NaN
47,Amrit,Greaves,14.50,None,NaT,NaT,NaN

##Hours worked by staff member

In [80]:
hours_worked_by_staff=result4.groupby(['first_name'])['hour_worked'].sum()
print(f'The hours worked by staff is\n',hours_worked_by_staff)

The hours worked by staff is
 first_name
Amiyah         0.0
Amrit          0.0
Areeb          0.0
Arran         17.0
Desiree       25.5
Faraz          0.0
Ivan          17.0
Johnathon     17.0
Lilly-Rose    25.5
Luqman        25.5
Matilda        0.0
Mindy         25.5
Sana           0.0
Seren         17.0
Talha          0.0
Zachery        0.0
Name: hour_worked, dtype: float64

##Total hours worked

In [83]:
ttl_hour_worked=hours_worked_by_staff.sum()
print(f'The total hour worked is {ttl_hour_worked}')

The total hour worked is 170.0

##Cost per staff member

In [88]:
cost_tab=result4.groupby(['first_name'])[['hour_worked','hourly_rate']].agg({'hour_worked':'sum','hourly_rate':'mean'})
cost_tab['cost']=cost_tab['hour_worked'].multiply(cost_tab['hourly_rate']).round(2)
print(f'The cost per staff is \n',cost_tab)

The cost per staff is
             hour_worked  hourly_rate    cost
first_name
Amiyah              0.0        14.50    0.00
Amrit               0.0        14.50    0.00
Areeb               0.0        14.50    0.00
Arran              17.0        21.50  365.50
Desiree            25.5        14.50  369.75
Faraz               0.0        21.50    0.00
Ivan               17.0        14.50  246.50
Johnathon          17.0        14.50  246.50
Lilly-Rose         25.5        14.50  369.75
Luqman             25.5        21.50  548.25
Matilda             0.0        14.50    0.00
Mindy              25.5        17.25  439.88
Sana                0.0        21.50    0.00
Seren              17.0        17.25  293.25
Talha               0.0        17.25    0.00
Zachery             0.0        17.25    0.00

##Total staff cost

In [90]:
ttl_staff_cost=cost_tab['cost'].sum()
print(f'The total staff cost is ${ttl_staff_cost}')

The total staff cost is $2879.38

#Export csv for visualization

In [95]:
result1.to_csv('/content/gdrive/My Drive/SQL/export/pizza1.csv',index=False)
result2.to_csv('/content/gdrive/My Drive/SQL/export/pizza2.csv',index=False)
result3.to_csv('/content/gdrive/My Drive/SQL/export/pizza3.csv',index=False)
result4.to_csv('/content/gdrive/My Drive/SQL/export/pizza4.csv',index=False)

#Data source

In [ ]:
# https://learnbi.online/pizzaproject